# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local development
*.log
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Test
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db
