__pycache__/
*.py[co]
.mypy_cache

# env files (can opt-in for committing if needed)
.env
.env.example
.env.local
.env.local.example
.env.test
.env.test.local
.env.test.local.example
.env.production
.env.production.local
.env.production.local.example
.ipynb_checkpoints
.eggs
.egg-info
dist
build
tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.pytest_cache

venv/*
